# build directories
build/
cmake-build-*/
.vscode/

# object / binary files
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# editor / OS files
.idea/
/scratch/
.DS_Store
Makefile
compile_flags.txt
.vscode/c_cpp_properties.json
CMakeLists.txt

# temporary files
*.tmp
*.log
